body {
  background-color: #fac8cd;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.18);
}

.form-control {
  background-color: #e1e1e1;
  color: #70798c;
}

.btn-primary {
  font-size: 12px;
}

input {
  position: relative;
}

/* To style the submit button */
a {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #629677;
  justify-content: center;
  width: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heading {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

#password {
  margin-top: 25px;
}

.d-grid .btn {
  margin-top: 20px;
}
